@model ExpenseType

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p>Are you sure you want to delete this expense type?</p>

<table class="table table-bordered table-striped mt-3 mb-3">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
        </tr>
    </tbody>
</table>

<form asp-action="DeleteExpenseType" method="post">
    <div class="d-flex gap-2">
        <input type="hidden" asp-for="Id">
        <button class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>