@model EditExpenseTypeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Create Expense Type</h1>

<div class="container pt-4">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Edit Expense Type</button>
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>


@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}